<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="color:green;">Multiple Field Search</h1>
        <p style="color:red;"> You should be select occapation and select one option from male or famale</p>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            <input type="radio" value="m" name="gender"> male |
            <input type="radio" value="f" name="gender"> female
            <select name="occapation">
                <option selected disabled=true>----select occapation----</option>
                <option>doctor</option>
                <option>engineer</option>
                <option>nurse</option>
                <option>hr</option>
                <hr>
            </select>
            <input type="submit" value="search"><br/><br/>
            <table border="1">
                <tr>
                    <td>id</td>
                    <td>employee name</td>
                    <td>gender</td>
                    <td>occapation</td>
                    <td>Salary</td>
                </tr>
                {% for result in all_obj %}
                    <tr>
                        <td>{{result.emid}}</td>
                        <td>{{result.empname}}</td>
                        <td>{{result.gender}}</td>
                        <td>{{result.occapation}}</td>
                        <td>{{result.salary}}</td>
                    </tr>
                {% endfor %}
            </table>
        </form>
    </center>
</body>
</html>